
@media all and (max-width:575px) {.custom-position {
  top: 5px;
  left: 10px;}

body {
    height: 4000px;
  }
  
  .custom-height {
    height: 100vh;
  }
  
  .custom-size {
    width: 35px !important;
    height: 15px !important;
    background-color: rgba(255, 0, 0, 0.5) !important;
  }
  
  .custom-size:focus {
    background-color: rgba(255, 0, 0, 1) !important;
  }

  #p1{

    color:rgb(26, 24, 24);
    font-size:49px;
    margin-top:5px;
    font-family:cursive;
    margin-right:13px ;
    display: rtl;
    text-align: right;
}

#p2{

  color:rgb(26, 24, 24);
  font-size:30px;
  margin-top:5px;
  font-family:cursive;
  margin-right:13px ;
  display: rtl;
  text-align: right;
}

#p3{

  color:rgb(26, 24, 24);
  font-size:30px;
  font-family:cursive;
  margin-right:13px ;
  display: ltr;
  text-align: left;
}

#p4{

  color:rgb(172, 68, 68);
  font-size:50px;
  margin-top: 25px;
  font-family:cursive;
  margin-right:13px ;
  direction: rtl;
  text-align: right;
  display:block;
}

#p41{

  color:rgb(172, 68, 68);
  font-size:27px;
  margin-top: 25px;
  font-family:cursive;
  margin-right:13px ;
  direction: rtl;
  text-align: right;
  display:block;
}

/*.parent1{
  width:450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:100px auto;
  position: relative;
  overflow: hidden;
 direction: right;
 margin-left: 870px;
  
}
img{
  width: 100%;
  position:relative;
  
}
.child1{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.1)100%);
  
}

.parent1:hover .child1{
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.3)100%);
  
  

}

p1{
  position: absolute;
  color:rgb(235, 235, 243);
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease 0s;
  


}

p1:first-of-type{
  bottom:30px;
}

p1:last-of-type{
  bottom:-35px;
}

.parent1:hover p1:first-of-type{

  bottom:60px;
}

.parent1:hover p1:last-of-type{

  bottom:0px;
}


#p5{

  color:rgb(172, 68, 68);
  font-size:50px;
  margin-bottom:100px;
  font-family:cursive;
  margin-right:13px ;
  direction: ltr;
  text-align: left;
  display:block;
}

/*.parent2{
  width:450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:2px auto;
  position: relative;
  overflow: hidden;
 direction: right;
 margin-left: 10px;
 padding-bottom: 300px;
  
}
img{
  width: 100%;
  position:relative;
  
}
.child2{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.1)100%);
  
}

.parent2:hover .child2{
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.3)100%);
  
  

}

p2{
  position: absolute;
  color:rgb(235, 235, 243);
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease 0s;
  


}

p2:first-of-type{
  bottom:30px;
}

p2:last-of-type{
  bottom:-35px;
}

.parent2:hover p2:first-of-type{

  bottom:60px;
}

.parent2:hover p2:last-of-type{

  bottom:0px;
}


@media all and (max-width:991px) {
  a {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 200ms linear 0s;
  }

  a:hover img {
    transform: scale(1.15);
  }

  .parent-content {
    position: absolute;
    bottom: 0;
    
  }

  h4 {
    font-size: calc(2vw + 15px);
  }

  pp {
    font-size: calc(1vw + 7px);
  }
}

@media all and (min-width:992px) {
  a {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 200ms linear 0s;
  }

  a:hover img {
    transform: scale(1.15);
  }

  .parent-content {
    position: absolute;
    bottom: 0;
    
  }

  h4 {
    font-size: calc(1.2vw + 4px);
  }

  pp {
    font-size: calc(0.8vw + 1px);
  }
}*/

@media all and (max-width:767px) {
  a {
    color: black;
  }

  h4 {
    font-size: calc(0.75vw + 9px);
    font-weight: bold
  }

  p {
    font-size: calc(0.4vw + 7px);
  }

  .parent-content {
    bottom: 0;
    left: 0;
  }

  .center-box {
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
  }

  span {
    width: 40px;
    height: 20px;
    background-color: #2186f9;
    color: white;
    position: absolute;
    top: 22%;
    right: 37%;
    z-index: 2;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 10px;
  }
}

@media all and (min-width:768px) {
  a {
    color: black;
  }

  h4 {
    font-size: calc(0.5vw + 9px);
    font-weight: bold
  }

  p {
    text-align: center;
    font-size: calc(0.3vw + 6px);
    width: 80%;
  }

  .parent-content {
    bottom: 0;
    left: 0;
    height: 100%;
  }

  .center-box {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  h4,
  p,
  button {
    position: absolute;
  }

  .center-box h4 {
    bottom: 12%;
  }

  .center-box p {
    bottom: 2%;
  }

  h4 {
    bottom: 21%;
    
  }

  p {
    bottom: 0;
    transition: all 200ms ease 0s;
    font-weight: 100px;
    font-size:20px;
  }

  button {
    opacity: 0;
    font-size: 10px;
    bottom: -30px;
    transition: all 200ms ease 0s;
  }

  img {
    transition: all 200ms ease 0s;
  }

  .custom-hover:hover img {
    transform: scale(1.1);
  }

  .custom-hover:hover p {
    bottom: 20px;
    opacity: 0;
  }

  .custom-hover:hover button {
    bottom: 15px;
    opacity: 1;
  }

  span {
    width: 40px;
    height: 20px;
    background-color: #2186f9;
    color: white;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 10px;
  }
}}

@media all and (min-width:576px) and (max-width:767px) {.custom-position {
  top: 5px;
  left: 10px;}

body {
    height: 4000px;
  }
  
  .custom-height {
    height: 100vh;
  }
  
  .custom-size {
    width: 35px !important;
    height: 15px !important;
    background-color: rgba(255, 0, 0, 0.5) !important;
  }
  
  .custom-size:focus {
    background-color: rgba(255, 0, 0, 1) !important;
  }

  #p1{

    color:rgb(26, 24, 24);
    font-size:49px;
    margin-top:5px;
    font-family:cursive;
    margin-right:13px ;
    display: rtl;
    text-align: right;
}

#p2{

  color:rgb(26, 24, 24);
  font-size:30px;
  margin-top:5px;
  font-family:cursive;
  margin-right:13px ;
  display: rtl;
  text-align: right;
}

#p3{

  color:rgb(26, 24, 24);
  font-size:30px;
  font-family:cursive;
  margin-right:13px ;
  display: ltr;
  text-align: left;
}

#p4{

  color:rgb(172, 68, 68);
  font-size:50px;
  margin-top: 25px;
  font-family:cursive;
  margin-right:13px ;
  direction: rtl;
  text-align: right;
  display:block;
}

#p41{

  color:rgb(172, 68, 68);
  font-size:27px;
  margin-top: 25px;
  font-family:cursive;
  margin-right:13px ;
  direction: rtl;
  text-align: right;
  display:block;
}

/*.parent1{
  width:450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:100px auto;
  position: relative;
  overflow: hidden;
 direction: right;
 margin-left: 870px;
  
}
img{
  width: 100%;
  position:relative;
  
}
.child1{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.1)100%);
  
}

.parent1:hover .child1{
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.3)100%);
  
  

}

p1{
  position: absolute;
  color:rgb(235, 235, 243);
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease 0s;
  


}

p1:first-of-type{
  bottom:30px;
}

p1:last-of-type{
  bottom:-35px;
}

.parent1:hover p1:first-of-type{

  bottom:60px;
}

.parent1:hover p1:last-of-type{

  bottom:0px;
}


#p5{

  color:rgb(172, 68, 68);
  font-size:50px;
  margin-bottom:100px;
  font-family:cursive;
  margin-right:13px ;
  direction: ltr;
  text-align: left;
  display:block;
}

/*.parent2{
  width:450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:2px auto;
  position: relative;
  overflow: hidden;
 direction: right;
 margin-left: 10px;
 padding-bottom: 300px;
  
}
img{
  width: 100%;
  position:relative;
  
}
.child2{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.1)100%);
  
}

.parent2:hover .child2{
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.3)100%);
  
  

}

p2{
  position: absolute;
  color:rgb(235, 235, 243);
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease 0s;
  


}

p2:first-of-type{
  bottom:30px;
}

p2:last-of-type{
  bottom:-35px;
}

.parent2:hover p2:first-of-type{

  bottom:60px;
}

.parent2:hover p2:last-of-type{

  bottom:0px;
}


@media all and (max-width:991px) {
  a {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 200ms linear 0s;
  }

  a:hover img {
    transform: scale(1.15);
  }

  .parent-content {
    position: absolute;
    bottom: 0;
    
  }

  h4 {
    font-size: calc(2vw + 15px);
  }

  pp {
    font-size: calc(1vw + 7px);
  }
}

@media all and (min-width:992px) {
  a {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 200ms linear 0s;
  }

  a:hover img {
    transform: scale(1.15);
  }

  .parent-content {
    position: absolute;
    bottom: 0;
    
  }

  h4 {
    font-size: calc(1.2vw + 4px);
  }

  pp {
    font-size: calc(0.8vw + 1px);
  }
}*/

@media all and (max-width:767px) {
  a {
    color: black;
  }

  h4 {
    font-size: calc(0.75vw + 9px);
    font-weight: bold
  }

  p {
    font-size: calc(0.4vw + 7px);
  }

  .parent-content {
    bottom: 0;
    left: 0;
  }

  .center-box {
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
  }

  span {
    width: 40px;
    height: 20px;
    background-color: #2186f9;
    color: white;
    position: absolute;
    top: 22%;
    right: 37%;
    z-index: 2;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 10px;
  }
}

@media all and (min-width:768px) {
  a {
    color: black;
  }

  h4 {
    font-size: calc(0.5vw + 9px);
    font-weight: bold
  }

  p {
    text-align: center;
    font-size: calc(0.3vw + 6px);
    width: 80%;
  }

  .parent-content {
    bottom: 0;
    left: 0;
    height: 100%;
  }

  .center-box {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  h4,
  p,
  button {
    position: absolute;
  }

  .center-box h4 {
    bottom: 12%;
  }

  .center-box p {
    bottom: 2%;
  }

  h4 {
    bottom: 21%;
    
  }

  p {
    bottom: 0;
    transition: all 200ms ease 0s;
    font-weight: 100px;
    font-size:20px;
  }

  button {
    opacity: 0;
    font-size: 10px;
    bottom: -30px;
    transition: all 200ms ease 0s;
  }

  img {
    transition: all 200ms ease 0s;
  }

  .custom-hover:hover img {
    transform: scale(1.1);
  }

  .custom-hover:hover p {
    bottom: 20px;
    opacity: 0;
  }

  .custom-hover:hover button {
    bottom: 15px;
    opacity: 1;
  }

  span {
    width: 40px;
    height: 20px;
    background-color: #2186f9;
    color: white;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 10px;
  }
}}

@media all and (min-width:768px) and (max-width:991px) {.custom-position {
  top: 5px;
  left: 10px;}

body {
    height: 4000px;
  }
  
  .custom-height {
    height: 100vh;
  }
  
  .custom-size {
    width: 35px !important;
    height: 15px !important;
    background-color: rgba(255, 0, 0, 0.5) !important;
  }
  
  .custom-size:focus {
    background-color: rgba(255, 0, 0, 1) !important;
  }

  #p1{

    color:rgb(26, 24, 24);
    font-size:49px;
    margin-top:5px;
    font-family:cursive;
    margin-right:13px ;
    display: rtl;
    text-align: right;
}

#p2{

  color:rgb(26, 24, 24);
  font-size:30px;
  margin-top:5px;
  font-family:cursive;
  margin-right:13px ;
  display: rtl;
  text-align: right;
}

#p3{

  color:rgb(26, 24, 24);
  font-size:30px;
  font-family:cursive;
  margin-right:13px ;
  display: ltr;
  text-align: left;
}

#p4{

  color:rgb(172, 68, 68);
  font-size:50px;
  margin-top: 25px;
  font-family:cursive;
  margin-right:13px ;
  direction: rtl;
  text-align: right;
  display:block;
}

#p41{

  color:rgb(172, 68, 68);
  font-size:27px;
  margin-top: 25px;
  font-family:cursive;
  margin-right:13px ;
  direction: rtl;
  text-align: right;
  display:block;
}

/*.parent1{
  width:450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:100px auto;
  position: relative;
  overflow: hidden;
 direction: right;
 margin-left: 870px;
  
}
img{
  width: 100%;
  position:relative;
  
}
.child1{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.1)100%);
  
}

.parent1:hover .child1{
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.3)100%);
  
  

}

p1{
  position: absolute;
  color:rgb(235, 235, 243);
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease 0s;
  


}

p1:first-of-type{
  bottom:30px;
}

p1:last-of-type{
  bottom:-35px;
}

.parent1:hover p1:first-of-type{

  bottom:60px;
}

.parent1:hover p1:last-of-type{

  bottom:0px;
}


#p5{

  color:rgb(172, 68, 68);
  font-size:50px;
  margin-bottom:100px;
  font-family:cursive;
  margin-right:13px ;
  direction: ltr;
  text-align: left;
  display:block;
}

/*.parent2{
  width:450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:2px auto;
  position: relative;
  overflow: hidden;
 direction: right;
 margin-left: 10px;
 padding-bottom: 300px;
  
}
img{
  width: 100%;
  position:relative;
  
}
.child2{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.1)100%);
  
}

.parent2:hover .child2{
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.3)100%);
  
  

}

p2{
  position: absolute;
  color:rgb(235, 235, 243);
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease 0s;
  


}

p2:first-of-type{
  bottom:30px;
}

p2:last-of-type{
  bottom:-35px;
}

.parent2:hover p2:first-of-type{

  bottom:60px;
}

.parent2:hover p2:last-of-type{

  bottom:0px;
}


@media all and (max-width:991px) {
  a {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 200ms linear 0s;
  }

  a:hover img {
    transform: scale(1.15);
  }

  .parent-content {
    position: absolute;
    bottom: 0;
    
  }

  h4 {
    font-size: calc(2vw + 15px);
  }

  pp {
    font-size: calc(1vw + 7px);
  }
}

@media all and (min-width:992px) {
  a {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 200ms linear 0s;
  }

  a:hover img {
    transform: scale(1.15);
  }

  .parent-content {
    position: absolute;
    bottom: 0;
    
  }

  h4 {
    font-size: calc(1.2vw + 4px);
  }

  pp {
    font-size: calc(0.8vw + 1px);
  }
}*/

@media all and (max-width:767px) {
  a {
    color: black;
  }

  h4 {
    font-size: calc(0.75vw + 9px);
    font-weight: bold
  }

  p {
    font-size: calc(0.4vw + 7px);
  }

  .parent-content {
    bottom: 0;
    left: 0;
  }

  .center-box {
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
  }

  span {
    width: 40px;
    height: 20px;
    background-color: #2186f9;
    color: white;
    position: absolute;
    top: 22%;
    right: 37%;
    z-index: 2;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 10px;
  }
}

@media all and (min-width:768px) {
  a {
    color: black;
  }

  h4 {
    font-size: calc(0.5vw + 9px);
    font-weight: bold
  }

  p {
    text-align: center;
    font-size: calc(0.3vw + 6px);
    width: 80%;
  }

  .parent-content {
    bottom: 0;
    left: 0;
    height: 100%;
  }

  .center-box {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  h4,
  p,
  button {
    position: absolute;
  }

  .center-box h4 {
    bottom: 12%;
  }

  .center-box p {
    bottom: 2%;
  }

  h4 {
    bottom: 21%;
    
  }

  p {
    bottom: 0;
    transition: all 200ms ease 0s;
    font-weight: 100px;
    font-size:20px;
  }

  button {
    opacity: 0;
    font-size: 10px;
    bottom: -30px;
    transition: all 200ms ease 0s;
  }

  img {
    transition: all 200ms ease 0s;
  }

  .custom-hover:hover img {
    transform: scale(1.1);
  }

  .custom-hover:hover p {
    bottom: 20px;
    opacity: 0;
  }

  .custom-hover:hover button {
    bottom: 15px;
    opacity: 1;
  }

  span {
    width: 40px;
    height: 20px;
    background-color: #2186f9;
    color: white;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 10px;
  }
}}

@media all and (min-width:992px) and (max-width:1199px) {.custom-position {
  top: 5px;
  left: 10px;}

body {
    height: 4000px;
  }
  
  .custom-height {
    height: 100vh;
  }
  
  .custom-size {
    width: 35px !important;
    height: 15px !important;
    background-color: rgba(255, 0, 0, 0.5) !important;
  }
  
  .custom-size:focus {
    background-color: rgba(255, 0, 0, 1) !important;
  }

  #p1{

    color:rgb(26, 24, 24);
    font-size:49px;
    margin-top:5px;
    font-family:cursive;
    margin-right:13px ;
    display: rtl;
    text-align: right;
}

#p2{

  color:rgb(26, 24, 24);
  font-size:30px;
  margin-top:5px;
  font-family:cursive;
  margin-right:13px ;
  display: rtl;
  text-align: right;
}

#p3{

  color:rgb(26, 24, 24);
  font-size:30px;
  font-family:cursive;
  margin-right:13px ;
  display: ltr;
  text-align: left;
}

#p4{

  color:rgb(172, 68, 68);
  font-size:50px;
  margin-top: 25px;
  font-family:cursive;
  margin-right:13px ;
  direction: rtl;
  text-align: right;
  display:block;
}

#p41{

  color:rgb(172, 68, 68);
  font-size:27px;
  margin-top: 25px;
  font-family:cursive;
  margin-right:13px ;
  direction: rtl;
  text-align: right;
  display:block;
}

/*.parent1{
  width:450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:100px auto;
  position: relative;
  overflow: hidden;
 direction: right;
 margin-left: 870px;
  
}
img{
  width: 100%;
  position:relative;
  
}
.child1{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.1)100%);
  
}

.parent1:hover .child1{
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.3)100%);
  
  

}

p1{
  position: absolute;
  color:rgb(235, 235, 243);
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease 0s;
  


}

p1:first-of-type{
  bottom:30px;
}

p1:last-of-type{
  bottom:-35px;
}

.parent1:hover p1:first-of-type{

  bottom:60px;
}

.parent1:hover p1:last-of-type{

  bottom:0px;
}


#p5{

  color:rgb(172, 68, 68);
  font-size:50px;
  margin-bottom:100px;
  font-family:cursive;
  margin-right:13px ;
  direction: ltr;
  text-align: left;
  display:block;
}

/*.parent2{
  width:450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:2px auto;
  position: relative;
  overflow: hidden;
 direction: right;
 margin-left: 10px;
 padding-bottom: 300px;
  
}
img{
  width: 100%;
  position:relative;
  
}
.child2{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.1)100%);
  
}

.parent2:hover .child2{
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.3)100%);
  
  

}

p2{
  position: absolute;
  color:rgb(235, 235, 243);
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease 0s;
  


}

p2:first-of-type{
  bottom:30px;
}

p2:last-of-type{
  bottom:-35px;
}

.parent2:hover p2:first-of-type{

  bottom:60px;
}

.parent2:hover p2:last-of-type{

  bottom:0px;
}


@media all and (max-width:991px) {
  a {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 200ms linear 0s;
  }

  a:hover img {
    transform: scale(1.15);
  }

  .parent-content {
    position: absolute;
    bottom: 0;
    
  }

  h4 {
    font-size: calc(2vw + 15px);
  }

  pp {
    font-size: calc(1vw + 7px);
  }
}

@media all and (min-width:992px) {
  a {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 200ms linear 0s;
  }

  a:hover img {
    transform: scale(1.15);
  }

  .parent-content {
    position: absolute;
    bottom: 0;
    
  }

  h4 {
    font-size: calc(1.2vw + 4px);
  }

  pp {
    font-size: calc(0.8vw + 1px);
  }
}*/

@media all and (max-width:767px) {
  a {
    color: black;
  }

  h4 {
    font-size: calc(0.75vw + 9px);
    font-weight: bold
  }

  p {
    font-size: calc(0.4vw + 7px);
  }

  .parent-content {
    bottom: 0;
    left: 0;
  }

  .center-box {
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
  }

  span {
    width: 40px;
    height: 20px;
    background-color: #2186f9;
    color: white;
    position: absolute;
    top: 22%;
    right: 37%;
    z-index: 2;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 10px;
  }
}

@media all and (min-width:768px) {
  a {
    color: black;
  }

  h4 {
    font-size: calc(0.5vw + 9px);
    font-weight: bold
  }

  p {
    text-align: center;
    font-size: calc(0.3vw + 6px);
    width: 80%;
  }

  .parent-content {
    bottom: 0;
    left: 0;
    height: 100%;
  }

  .center-box {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  h4,
  p,
  button {
    position: absolute;
  }

  .center-box h4 {
    bottom: 12%;
  }

  .center-box p {
    bottom: 2%;
  }

  h4 {
    bottom: 21%;
    
  }

  p {
    bottom: 0;
    transition: all 200ms ease 0s;
    font-weight: 100px;
    font-size:20px;
  }

  button {
    opacity: 0;
    font-size: 10px;
    bottom: -30px;
    transition: all 200ms ease 0s;
  }

  img {
    transition: all 200ms ease 0s;
  }

  .custom-hover:hover img {
    transform: scale(1.1);
  }

  .custom-hover:hover p {
    bottom: 20px;
    opacity: 0;
  }

  .custom-hover:hover button {
    bottom: 15px;
    opacity: 1;
  }

  span {
    width: 40px;
    height: 20px;
    background-color: #2186f9;
    color: white;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 10px;
  }
}}

@media all and (min-width:1200px) and (max-width:1399px) {.custom-position {
  top: 5px;
  left: 10px;}

body {
    height: 4000px;
  }
  
  .custom-height {
    height: 100vh;
  }
  
  .custom-size {
    width: 35px !important;
    height: 15px !important;
    background-color: rgba(255, 0, 0, 0.5) !important;
  }
  
  .custom-size:focus {
    background-color: rgba(255, 0, 0, 1) !important;
  }

  #p1{

    color:rgb(26, 24, 24);
    font-size:49px;
    margin-top:5px;
    font-family:cursive;
    margin-right:13px ;
    display: rtl;
    text-align: right;
}

#p2{

  color:rgb(26, 24, 24);
  font-size:30px;
  margin-top:5px;
  font-family:cursive;
  margin-right:13px ;
  display: rtl;
  text-align: right;
}

#p3{

  color:rgb(26, 24, 24);
  font-size:30px;
  font-family:cursive;
  margin-right:13px ;
  display: ltr;
  text-align: left;
}

#p4{

  color:rgb(172, 68, 68);
  font-size:50px;
  margin-top: 25px;
  font-family:cursive;
  margin-right:13px ;
  direction: rtl;
  text-align: right;
  display:block;
}

#p41{

  color:rgb(172, 68, 68);
  font-size:27px;
  margin-top: 25px;
  font-family:cursive;
  margin-right:13px ;
  direction: rtl;
  text-align: right;
  display:block;
}

/*.parent1{
  width:450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:100px auto;
  position: relative;
  overflow: hidden;
 direction: right;
 margin-left: 870px;
  
}
img{
  width: 100%;
  position:relative;
  
}
.child1{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.1)100%);
  
}

.parent1:hover .child1{
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.3)100%);
  
  

}

p1{
  position: absolute;
  color:rgb(235, 235, 243);
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease 0s;
  


}

p1:first-of-type{
  bottom:30px;
}

p1:last-of-type{
  bottom:-35px;
}

.parent1:hover p1:first-of-type{

  bottom:60px;
}

.parent1:hover p1:last-of-type{

  bottom:0px;
}


#p5{

  color:rgb(172, 68, 68);
  font-size:50px;
  margin-bottom:100px;
  font-family:cursive;
  margin-right:13px ;
  direction: ltr;
  text-align: left;
  display:block;
}

/*.parent2{
  width:450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:2px auto;
  position: relative;
  overflow: hidden;
 direction: right;
 margin-left: 10px;
 padding-bottom: 300px;
  
}
img{
  width: 100%;
  position:relative;
  
}
.child2{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.1)100%);
  
}

.parent2:hover .child2{
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.3)100%);
  
  

}

p2{
  position: absolute;
  color:rgb(235, 235, 243);
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease 0s;
  


}

p2:first-of-type{
  bottom:30px;
}

p2:last-of-type{
  bottom:-35px;
}

.parent2:hover p2:first-of-type{

  bottom:60px;
}

.parent2:hover p2:last-of-type{

  bottom:0px;
}


@media all and (max-width:991px) {
  a {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 200ms linear 0s;
  }

  a:hover img {
    transform: scale(1.15);
  }

  .parent-content {
    position: absolute;
    bottom: 0;
    
  }

  h4 {
    font-size: calc(2vw + 15px);
  }

  pp {
    font-size: calc(1vw + 7px);
  }
}

@media all and (min-width:992px) {
  a {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 200ms linear 0s;
  }

  a:hover img {
    transform: scale(1.15);
  }

  .parent-content {
    position: absolute;
    bottom: 0;
    
  }

  h4 {
    font-size: calc(1.2vw + 4px);
  }

  pp {
    font-size: calc(0.8vw + 1px);
  }
}*/

@media all and (max-width:767px) {
  a {
    color: black;
  }

  h4 {
    font-size: calc(0.75vw + 9px);
    font-weight: bold
  }

  p {
    font-size: calc(0.4vw + 7px);
  }

  .parent-content {
    bottom: 0;
    left: 0;
  }

  .center-box {
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
  }

  span {
    width: 40px;
    height: 20px;
    background-color: #2186f9;
    color: white;
    position: absolute;
    top: 22%;
    right: 37%;
    z-index: 2;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 10px;
  }
}

@media all and (min-width:768px) {
  a {
    color: black;
  }

  h4 {
    font-size: calc(0.5vw + 9px);
    font-weight: bold
  }

  p {
    text-align: center;
    font-size: calc(0.3vw + 6px);
    width: 80%;
  }

  .parent-content {
    bottom: 0;
    left: 0;
    height: 100%;
  }

  .center-box {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  h4,
  p,
  button {
    position: absolute;
  }

  .center-box h4 {
    bottom: 12%;
  }

  .center-box p {
    bottom: 2%;
  }

  h4 {
    bottom: 21%;
    
  }

  p {
    bottom: 0;
    transition: all 200ms ease 0s;
    font-weight: 100px;
    font-size:20px;
  }

  button {
    opacity: 0;
    font-size: 10px;
    bottom: -30px;
    transition: all 200ms ease 0s;
  }

  img {
    transition: all 200ms ease 0s;
  }

  .custom-hover:hover img {
    transform: scale(1.1);
  }

  .custom-hover:hover p {
    bottom: 20px;
    opacity: 0;
  }

  .custom-hover:hover button {
    bottom: 15px;
    opacity: 1;
  }

  span {
    width: 40px;
    height: 20px;
    background-color: #2186f9;
    color: white;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 10px;
  }
}}

@media all and (min-width:1400px) {.custom-position {
  top: 5px;
  left: 10px;}

body {
    height: 4000px;
  }
  
  .custom-height {
    height: 100vh;
  }
  
  .custom-size {
    width: 35px !important;
    height: 15px !important;
    background-color: rgba(255, 0, 0, 0.5) !important;
  }
  
  .custom-size:focus {
    background-color: rgba(255, 0, 0, 1) !important;
  }

  #p1{

    color:rgb(26, 24, 24);
    font-size:49px;
    margin-top:5px;
    font-family:cursive;
    margin-right:13px ;
    display: rtl;
    text-align: right;
}

#p2{

  color:rgb(26, 24, 24);
  font-size:30px;
  margin-top:5px;
  font-family:cursive;
  margin-right:13px ;
  display: rtl;
  text-align: right;
}

#p3{

  color:rgb(26, 24, 24);
  font-size:30px;
  font-family:cursive;
  margin-right:13px ;
  display: ltr;
  text-align: left;
}

#p4{

  color:rgb(172, 68, 68);
  font-size:50px;
  margin-top: 25px;
  font-family:cursive;
  margin-right:13px ;
  direction: rtl;
  text-align: right;
  display:block;
}

#p41{

  color:rgb(172, 68, 68);
  font-size:27px;
  margin-top: 25px;
  font-family:cursive;
  margin-right:13px ;
  direction: rtl;
  text-align: right;
  display:block;
}

/*.parent1{
  width:450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:100px auto;
  position: relative;
  overflow: hidden;
 direction: right;
 margin-left: 870px;
  
}
img{
  width: 100%;
  position:relative;
  
}
.child1{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.1)100%);
  
}

.parent1:hover .child1{
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.3)100%);
  
  

}

p1{
  position: absolute;
  color:rgb(235, 235, 243);
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease 0s;
  


}

p1:first-of-type{
  bottom:30px;
}

p1:last-of-type{
  bottom:-35px;
}

.parent1:hover p1:first-of-type{

  bottom:60px;
}

.parent1:hover p1:last-of-type{

  bottom:0px;
}


#p5{

  color:rgb(172, 68, 68);
  font-size:50px;
  margin-bottom:100px;
  font-family:cursive;
  margin-right:13px ;
  direction: ltr;
  text-align: left;
  display:block;
}

/*.parent2{
  width:450px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:2px auto;
  position: relative;
  overflow: hidden;
 direction: right;
 margin-left: 10px;
 padding-bottom: 300px;
  
}
img{
  width: 100%;
  position:relative;
  
}
.child2{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.1)100%);
  
}

.parent2:hover .child2{
  background-image:linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,0.3)100%);
  
  

}

p2{
  position: absolute;
  color:rgb(235, 235, 243);
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 300ms ease 0s;
  


}

p2:first-of-type{
  bottom:30px;
}

p2:last-of-type{
  bottom:-35px;
}

.parent2:hover p2:first-of-type{

  bottom:60px;
}

.parent2:hover p2:last-of-type{

  bottom:0px;
}


@media all and (max-width:991px) {
  a {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 200ms linear 0s;
  }

  a:hover img {
    transform: scale(1.15);
  }

  .parent-content {
    position: absolute;
    bottom: 0;
    
  }

  h4 {
    font-size: calc(2vw + 15px);
  }

  pp {
    font-size: calc(1vw + 7px);
  }
}

@media all and (min-width:992px) {
  a {
    position: relative;
    overflow: hidden;
  }

  img {
    transition: all 200ms linear 0s;
  }

  a:hover img {
    transform: scale(1.15);
  }

  .parent-content {
    position: absolute;
    bottom: 0;
    
  }

  h4 {
    font-size: calc(1.2vw + 4px);
  }

  pp {
    font-size: calc(0.8vw + 1px);
  }
}*/

@media all and (max-width:767px) {
  a {
    color: black;
  }

  h4 {
    font-size: calc(0.75vw + 9px);
    font-weight: bold
  }

  p {
    font-size: calc(0.4vw + 7px);
  }

  .parent-content {
    bottom: 0;
    left: 0;
  }

  .center-box {
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
  }

  span {
    width: 40px;
    height: 20px;
    background-color: #2186f9;
    color: white;
    position: absolute;
    top: 22%;
    right: 37%;
    z-index: 2;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 10px;
  }
}

@media all and (min-width:768px) {
  a {
    color: black;
  }

  h4 {
    font-size: calc(0.5vw + 9px);
    font-weight: bold
  }

  p {
    text-align: center;
    font-size: calc(0.3vw + 6px);
    width: 80%;
  }

  .parent-content {
    bottom: 0;
    left: 0;
    height: 100%;
  }

  .center-box {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  h4,
  p,
  button {
    position: absolute;
  }

  .center-box h4 {
    bottom: 12%;
  }

  .center-box p {
    bottom: 2%;
  }

  h4 {
    bottom: 21%;
    
  }

  p {
    bottom: 0;
    transition: all 200ms ease 0s;
    font-weight: 100px;
    font-size:20px;
  }

  button {
    opacity: 0;
    font-size: 10px;
    bottom: -30px;
    transition: all 200ms ease 0s;
  }

  img {
    transition: all 200ms ease 0s;
  }

  .custom-hover:hover img {
    transform: scale(1.1);
  }

  .custom-hover:hover p {
    bottom: 20px;
    opacity: 0;
  }

  .custom-hover:hover button {
    bottom: 15px;
    opacity: 1;
  }

  span {
    width: 40px;
    height: 20px;
    background-color: #2186f9;
    color: white;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 10px;
  }
}}





